<?xml version="1.0"?>

<launch>
  <arg name="robot_name" default="robot1"/>
  <arg name="joystick" default="0"/>

  <include file="$(find rc2016rvrl)/launch/hector_mapping_for_a_robot.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <group ns="$(arg robot_name)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/RoboCup2016RVRL_Demo/rviz/$(arg robot_name).rviz"/>
  </group>

  <!-- Not working with Name Spacei ..... ?
  <group ns="$(arg robot_name)" if="$(arg joystick)">
  -->
  <group if="$(arg joystick)">
    <include file="$(find teleop_joy)/launch/teleop_joy.launch">
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
  </group>

  <group ns="$(arg robot_name)" unless="$(arg joystick)">
    <node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" args="cmd_vel:=/$(arg robot_name)/cmd_vel" launch-prefix="xterm -e"/>
  </group>

</launch>
